body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  background-color: black;
}

.right ul {
  display: flex;
  list-style: none;
}

.right ul li {
  margin-left: 10px; /* Adjust spacing between links */
}

.btn {
  white-space: nowrap; /* Prevent line breaks */
}

.btn-bookmarks {
  margin-left: 20px; /* Adjust the gap between buttons */
}
